.login-form {
  margin: 0 auto;
  padding: 80px 0px;
  max-width: 300px;
  margin-top: -70px;
}

.login-form .form-control {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}

.login-form label {
  margin-left: -24px;
  margin-bottom: 3px;
  font-size: 15px;
}

.login-form label .login-icon {
  margin-bottom: -4px;
  margin-right: 8px;
}

.login-form .form-control input {
  height: 30px;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  color: #9c9c9c;
  background-color: transparent;
  font-size: 15px;
  padding: 3px;
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.login-form > button {
  border: none;
  height: 30px;
  width: 100%;
  margin-top: 15px;
  background-color: #00adef;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.erro {
  color: red;
  text-align: center;
  padding-top: 10px;
}
