.home {
  margin: 3px;
}

@media (min-width: 800px) {
  .saldos-tipo-carteira,
  .saldos-carteira,
  .ultimos-lancamentos,
  .container-chart {
    padding: 20px;
  }

  .container-chart {
    float: left;
    height: 300px;
    width: 49.5%;
  }

  .chart2 {
    float: right;
    margin-left: 7px;
  }
}

@media (max-width: 800px) {
  .saldos-tipo-carteira,
  .saldos-carteira,
  .ultimos-lancamentos,
  .container-chart {
    padding: 10px;
  }
}

.saldos-tipo-carteira,
.saldos-carteira,
.ultimos-lancamentos,
.container-chart {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.saldos-carteira,
.ultimos-lancamentos,
.container-chart {
  margin-top: 10px;
}

.container-chart .apexcharts-canvas {
  margin: 0 auto;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titulo h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.titulo .load {
  width: 60px;
  margin-top: -10px;
}

.titulo .error {
  width: 30px;
  cursor: pointer;
}

.center {
  margin: 0 auto !important;
}
