@media (min-width: 800px) {
  .new-lancamento .controle,
  .new-lancamento .tipo-lancamento {
    padding: 20px;
  }
}

@media (max-width: 800px) {
  .new-lancamento .controle,
  .new-lancamento .tipo-lancamento {
    padding: 10px;
  }
}

.new-lancamento {
  margin: 3px;
}

.new-lancamento .controle,
.new-lancamento .tipo-lancamento {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.new-lancamento .tipo-lancamento.receita {
  background: #9effc8;
}

.new-lancamento .tipo-lancamento.despesa {
  background: #ffaaa1;
}

.new-lancamento .tipo-lancamento.transferencia {
  background: #91d3ff;
}

.new-lancamento .controle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-lancamento .tipo-lancamento {
  margin-top: 10px;
}

.new-lancamento .controle span {
  margin: auto 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.new-lancamento .controle .buttons {
}

.new-lancamento .controle .buttons button {
  margin: 5px;
  color: black;
  background: transparent;
  width: 40px;
  height: 35px;
  padding-top: 3px;
}

.new-lancamento .controle .buttons button.receita {
  border: 2px solid #2ecc71;
}

.new-lancamento .controle .buttons button.receita.activebutton {
  background: #2ecc71;
  color: white;
}

.new-lancamento .controle .buttons button.receita:hover {
  background: #2ecc71;
  color: white;
}

.new-lancamento .controle .buttons button.despesa {
  border: 2px solid #d62c1a;
}

.new-lancamento .controle .buttons button.despesa.activebutton {
  background: #d62c1a;
  color: white;
}

.new-lancamento .controle .buttons button.despesa:hover {
  background: #d62c1a;
  color: white;
}

.new-lancamento .controle .buttons button.transferencia {
  border: 2px solid #3498db;
}

.new-lancamento .controle .buttons button.transferencia.activebutton {
  background: #3498db;
  color: white;
}

.new-lancamento .controle .buttons button.transferencia:hover {
  background: #3498db;
  color: white;
}


.new-lancamento .control {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  font-weight: 500;
}

.new-lancamento .control > label {
  margin-bottom: 2px;
}

.new-lancamento .control .input {
  border: none;
  border-bottom: 1px solid #f0f0f0;
  color: #9c9c9c;
  height: 18px;
  background-color: transparent;
}

.new-lancamento > button {
  border: none;
  height: 30px;
  width: 100%;
  margin-top: 8px;
  background-color: #00adef;
  color: white;
  font-weight: 600;
  cursor: pointer;
}