.linhas {
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-areas:
    "nome valor"
    "obs valor";
  grid-gap: 3px;
  margin-bottom: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.linhas:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 5px;
}

.linhas .origem .nome {
  grid-area: nome;
}
.linhas .origem .obs {
  grid-area: obs;
}
.linhas .valor {
  grid-area: valor;
}

.linhas .origem {
  font-size: 11px;
  color: #3d3d3d;
  text-transform: capitalize !important;
}

.linhas .origem .obs {
  font-size: 8px;
  margin-top: 3px;
}

.linhas .valor {
  font-weight: 500;
  font-size: 14px;
  margin: auto 0px;
  text-align: right;
}

.linhas .valor.positivo {
  color: #62c4f5;
}

.linhas .valor.negativo {
  color: #f57f7f;
}
