.lancamentos {
  margin-top: 10px;
}

.loading,
.error {
  text-align: center;
}

.loading .img {
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.error .img {
  max-width: 100%;
  width: 170px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.lancamentos {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.saldoAcumulado {
  margin-top: 20px;
  color: #8a8a8a;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
